@{
    Layout = "_Layout";
}

<h2>Контакты и адрес</h2>

<div style="display: flex; gap: 30px;">
    <div style="flex: 1;">
        <h3>Наш адрес:</h3>
        <p>
            г. Челябинск, ул. Воровского, 6 (ТРК «Урал» 3 этаж)
        </p>

        <h3>Телефоны:</h3>
        <p>
            8-904-933-99-11<br />
        </p>

        <h3>Email:</h3>
        <p>sotcomm174@mail.ru</p>

        <h3>Часы работы:</h3>
        <p>
            Время работы: с 10-00 до 22-00<br />
        </p>
    </div>
</div>