@{
    Layout = "_Layout";
}

<h2>Добро пожаловать в наш интернет-магазин!</h2>

<p>Это главная страница. Здесь вы найдете лучшие товары по низким ценам.</p>

<div>
    <h3>Почему выбирают нас?</h3>
    <ul>
        <li>Широкий ассортимент товаров</li>
        <li>Низкие цены</li>
        <li>Быстрая доставка</li>
        <li>Качественное обслуживание</li>
    </ul>
</div>
